.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 12px;

  @include container-sm {
    max-width: 450px;
  }

  @include container-md {
    max-width: 720px;
  }

  @include container-lg {
    max-width: 960px;
  }

  @include container-xl {
    max-width: 1140px;
  }

  @include container-xxl {
    max-width: 1320px;
  }
}
