.logo { 
  padding: 10px 0;

  &__img {
    width: 87px;
    height: 24px;

    @include container-sm {
      width: 106px;
      height: 30px;
    }

  }

  @include container-sm {
    padding: 17px 0;
  }
}
